In [1]:
import pandas as pd
from fontTools.merge.util import avg_int
from matplotlib.pyplot import title
from numpy.ma.core import mean
from pandas.core.dtypes.missing import na_value_for_dtype

In [2]:
import numpy as ny

In [3]:
import math

In [4]:
index_list = [0,1,2,3,4,5,6]
data_list = [100,200,300,400,500,600,700]

In [5]:
series_1 = pd.Series(data=data_list,index=index_list)

In [6]:
series_1

0    100
1    200
2    300
3    400
4    500
5    600
6    700
dtype: int64

In [7]:
df = pd.read_csv("weather_data.csv")

In [8]:
df #for entire file. If file is big it takes some time to load

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [9]:
df.head() #just give table preview. more convenient .shows top few rows

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [10]:
df.tail() #shows bottom few lines

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [11]:
df.columns #to print all columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [12]:
df.day    # to print specific column. column day for this example

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [13]:
df['day'] #same as above just different way of writing

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [14]:
df[['day','event','temperature']]  # to execute this command need to use double square brackets

        day  event  temperature
0  1/1/2017   Rain           32
1  1/2/2017  Sunny           35
2  1/3/2017   Snow           28
3  1/4/2017   Snow           24
4  1/5/2017   Rain           32
5  1/6/2017  Sunny           31

In [15]:
df['event']=='Sunny' # to check our condition

0    False
1     True
2    False
3    False
4    False
5     True
Name: event, dtype: bool

In [16]:
df['temperature'].min()

np.int64(24)

In [17]:
int(df['temperature'].min()) #different approach

24

In [18]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [19]:
df.describe()   #this command gives you all the maths problem.

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [20]:
df[df.temperature>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [21]:
df[df.temperature==df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [22]:
df[['day','temperature']][df.temperature==df.temperature.max()]

        day  temperature
1  1/2/2017           35

In [23]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [24]:
df.set_index('day')

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [25]:
import pandas as pd

In [26]:
df= pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [27]:
df= pd.read_csv('weather_data.csv',skiprows=1)
df

   1/1/2017  32  6   Rain
0  1/2/2017  35  7  Sunny
1  1/3/2017  28  2   Snow
2  1/4/2017  24  7   Snow
3  1/5/2017  32  4   Rain
4  1/6/2017  31  2  Sunny

In [28]:
#how to customize header and if there is no header in the data, thats how you can use it. if header is available but you need to correct all or perticular column's header, you can use this.
df= pd.read_csv('weather_data.csv',header=None, names=['date','temperature(°c)','wind(km/hr)','weather_event'])
df

       date temperature(°c) wind(km/hr) weather_event
0       day     temperature   windspeed         event
1  1/1/2017              32           6          Rain
2  1/2/2017              35           7         Sunny
3  1/3/2017              28           2          Snow
4  1/4/2017              24           7          Snow
5  1/5/2017              32           4          Rain
6  1/6/2017              31           2         Sunny

In [29]:
#added entire column using this command.and save it back to original(for that use the same name) or make duplicate(use any new name and it will save to the designated location) able to add cause its small. if its a big data file it cant br useful
import pandas as pd
df= pd.read_csv('weather_data.csv',header=None, names=['Date','Temperature(°c)','Wind(km/hr)','Weather_event','Wind_direction'])
df['Wind_direction']=["disha","NE","SE","Eat Melody","NE","notavaialble","SE"]
df.to_csv('new_weather_data.csv') #instead of csv you can use excel,json and many more
df

       Date Temperature(°c) Wind(km/hr) Weather_event Wind_direction
0       day     temperature   windspeed         event          disha
1  1/1/2017              32           6          Rain             NE
2  1/2/2017              35           7         Sunny             SE
3  1/3/2017              28           2          Snow     Eat Melody
4  1/4/2017              24           7          Snow             NE
5  1/5/2017              32           4          Rain   notavaialble
6  1/6/2017              31           2         Sunny             SE

In [30]:
#change (whitspace,not avalable, specific words are used in some files  for null value-for example "Eat Melody") to NaN. If you want to write anything else than Nan, use replace.

import pandas as pd
df= pd.read_csv('new_weather_data.csv',na_values=("notavaialble","Eat Melody"))
df=df.replace(["disha"],"Direction")
df

,Unnamed: 0,Date,Temperature(°c),Wind(km/hr),Weather_event,Wind_direction
0,0,day,temperature,windspeed,event,Direction
1,1,1/1/2017,32,6,Rain,NE
2,2,1/2/2017,35,7,Sunny,SE
3,3,1/3/2017,28,2,Snow,NaN
4,4,1/4/2017,24,7,Snow,NE
5,5,1/5/2017,32,4,Rain,NaN
6,6,1/6/2017,31,2,Sunny,SE

In [31]:
df=df.drop('Unnamed: 0',axis=1)
df.to_csv("new_weather_data.csv",columns=['Date','Wind(km/hr)','Wind_direction'])
df

       Date Temperature(°c) Wind(km/hr) Weather_event Wind_direction
0       day     temperature   windspeed         event      Direction
1  1/1/2017              32           6          Rain             NE
2  1/2/2017              35           7         Sunny             SE
3  1/3/2017              28           2          Snow            NaN
4  1/4/2017              24           7          Snow             NE
5  1/5/2017              32           4          Rain            NaN
6  1/6/2017              31           2         Sunny             SE

In [32]:
import pandas as pd
 #with help of this command what you write in bracket will be apply to NaN value. cons:- all NaN values would be change at once and would be same. so if user want to store different value they can't
new_df =df.fillna('E')
new_df

       Date Temperature(°c) Wind(km/hr) Weather_event Wind_direction
0       day     temperature   windspeed         event      Direction
1  1/1/2017              32           6          Rain             NE
2  1/2/2017              35           7         Sunny             SE
3  1/3/2017              28           2          Snow              E
4  1/4/2017              24           7          Snow             NE
5  1/5/2017              32           4          Rain              E
6  1/6/2017              31           2         Sunny             SE

In [33]:
import math

In [34]:

new_df=df.fillna({'Wind_direction': 'No Wind'})
new_df.to_csv("new_weather_data.csv")
new_df

       Date Temperature(°c) Wind(km/hr) Weather_event Wind_direction
0       day     temperature   windspeed         event      Direction
1  1/1/2017              32           6          Rain             NE
2  1/2/2017              35           7         Sunny             SE
3  1/3/2017              28           2          Snow        No Wind
4  1/4/2017              24           7          Snow             NE
5  1/5/2017              32           4          Rain        No Wind
6  1/6/2017              31           2         Sunny             SE

In [35]:

       #I edited some rows in excel file as still didn't learnt concat. So in this file there are lots of missing data. don't change anything in this cell.


import pandas as pd
df= pd.read_csv("new_weather_data1.csv")
df

,Unnamed: 0,Date,Temperature(°c),Wind(km/hr),Weather_event,Wind_direction
0,0,day,temperature,windspeed,event,Direction
1,1,1/1/2017,32,6,Rain,NE
2,2,1/2/2017,35,7,Sunny,SE
3,3,1/3/2017,28,2,Snow,No Wind
4,4,1/4/2017,24,7,Snow,NE
5,5,1/5/2017,32,4,Rain,No Wind
6,6,1/6/2017,31,2,Sunny,SE
7,7,1/7/2017,32,3,NaN,N
8,8,1/8/2017,NaN,NaN,Sunny,NaN
9,9,1/9/2017,NaN,9,NaN,NE
10,10,1/10/2017,31,NaN,Snow,N

In [36]:
df= df.drop('Unnamed: 0',axis=1)

In [37]:
df['Temperature(°c)']=df['Temperature(°c)'].ffill()
df['Wind(km/hr)']=df['Wind(km/hr)'].bfill()
df['Weather_event']=df['Weather_event'].fillna('Cloudy')
df['Wind_direction']=df['Wind_direction'].fillna('No Wind')
df

         Date Temperature(°c) Wind(km/hr) Weather_event Wind_direction
0         day     temperature   windspeed         event      Direction
1    1/1/2017              32           6          Rain             NE
2    1/2/2017              35           7         Sunny             SE
3    1/3/2017              28           2          Snow        No Wind
4    1/4/2017              24           7          Snow             NE
5    1/5/2017              32           4          Rain        No Wind
6    1/6/2017              31           2         Sunny             SE
7    1/7/2017              32           3        Cloudy              N
8    1/8/2017              32           9         Sunny        No Wind
9    1/9/2017              32           9        Cloudy             NE
10  1/10/2017              31         NaN          Snow              N

In [38]:
df

         Date Temperature(°c) Wind(km/hr) Weather_event Wind_direction
0         day     temperature   windspeed         event      Direction
1    1/1/2017              32           6          Rain             NE
2    1/2/2017              35           7         Sunny             SE
3    1/3/2017              28           2          Snow        No Wind
4    1/4/2017              24           7          Snow             NE
5    1/5/2017              32           4          Rain        No Wind
6    1/6/2017              31           2         Sunny             SE
7    1/7/2017              32           3        Cloudy              N
8    1/8/2017              32           9         Sunny        No Wind
9    1/9/2017              32           9        Cloudy             NE
10  1/10/2017              31         NaN          Snow              N